<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Gold Medal Metrics</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:500" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/reset.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" type="text/css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
    
  <body>
    <a href="{{ url_for('index') }}">
      <img alt="Gold Medal Metrics Icon"
           id="gold-medal-icon"
           src="{{ url_for('static', filename='resources/images/gold-medal.svg') }}" />
    </a>
      
    <div id="title-line">
      <h1 id="title">
        <a href="{{ url_for('index') }}">GOLD MEDAL METRICS</a>
      </h1>
    </div>
      
    <div id="container"> 
      <div id="search">

        <form action="" method="post">
          {{ form.hidden_tag() }}
          <div id="country-search">
            <img id="magnifying-glass" 
                 alt="Search" 
                 src="{{ url_for('static', filename='resources/images/magnify.svg') }}" />
            {{ form.name(id="country-search-input", size=32) }}
            {% for error in form.name.errors %}
            <span style="color: red; font-weight: bold;">[{{ error }}]</span>
            {% endfor %}
          </div>
          {{ form.submit(id="country-search-button") }}
        </form>

      </div>    
      
      {% block content %}
      {% endblock %}
        
    </div>
      
  </body>
</html>
